zmodule romkatv/powerlevel10k

zmodule zsh-users/zsh-completions --fpath src
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

zmodule completion

# Convenient commands
zmodule ohmyzsh/ohmyzsh --root plugins/extract
zmodule ohmyzsh/ohmyzsh --root plugins/macos

# Autocompletions
zmodule ohmyzsh/ohmyzsh --root plugins/docker
zmodule ohmyzsh/ohmyzsh --root plugins/pip
zmodule ohmyzsh/ohmyzsh --root plugins/poetry
zmodule ohmyzsh/ohmyzsh --root plugins/invoke
zmodule ohmyzsh/ohmyzsh --root plugins/rust
zmodule ohmyzsh/ohmyzsh --root plugins/yarn
