zmodule romkatv/powerlevel10k

zmodule completion

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions

# Convenient commands
zmodule ohmyzsh/ohmyzsh --root plugins/extract
zmodule ohmyzsh/ohmyzsh --root plugins/macos

# Autocompletions
# These modules were installed via other tools that do not provide completions.
# So we need to load them here.
# These tools create completions in ~/.cache/zsh/completions/
zmodule ohmyzsh/ohmyzsh --root plugins/poetry
zmodule ohmyzsh/ohmyzsh --root plugins/invoke
zmodule ohmyzsh/ohmyzsh --root plugins/rust
zmodule zsh-users/zsh-completions --fpath src  # yarn, etc

# These tools were installed via brew, so they already have completions somewhere in $fpath.
# To verify, run this:
#   print -l $fpath | xargs -I {} find {} -name "_*" 2>/dev/null | grep docker
# zmodule ohmyzsh/ohmyzsh --root plugins/docker
# zmodule ohmyzsh/ohmyzsh --root plugins/pip

# And these are buggy and don't work properly:
# zmodule ohmyzsh/ohmyzsh --root plugins/yarn
